body{
    font-family: Helvetica;
    font-size: 12px;
}
.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(../img/bg_field.jpg);
    background-size: cover;
}
.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    z-index: 1;
}
.header{
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 280px);
    z-index: 2;
}
.header div{
    float: left;
    color: #fff;
    font-size: 35px;
    font-weight: 200;
}
.header div span{
    color: green;
}
.login{
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}
.login input{
    width: 250px;
    height: 30px;
    border: 1px solid rgba(0, 128, 0,1.0);
    border-radius: 2px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
}
.login input[type=submit]{
    width: 262px;
    height: 35px;
    background: green;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}
