doctype html
html
    head
        meta(charset='UTF-8')
        title TeamDrive - Site not found!
        link(rel='stylesheet', href='/css/login.css')
        link(rel='icon', href='/img/ico.ico')
        script(src='/script/jade.js')
    body
        span Seite nicht gefunden!!!
