doctype html
html
    head
        meta(charset='UTF-8')
        title TeamDrive - Administratorübersicht
        link(rel='icon', href='/img/ico.ico')
        link(rel='stylesheet', href='/css/admin.css', type='text/css')
        script(src='/script/jade.js')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        
    body
        #header_content
            .logo
                a(href='/home/'+person._id)
                    img(width='50', height='50', src='/img/LOGO1.png', alt='Logo')
            .lname
                h2 TeamDrive
            .links
                a.logout(href='/') Abmelden 
                a.user= person.per_vorname+" "+person.per_name
    
            #heading
                h2= person.per_mannschaft
                h1 Administrationsübersicht
            #content_wrapper
                .content
                    div(style='height:15px')
                    .dashboard
                        a(href='/home/'+person._id+'/players')
                            img(src='/img/arrow.png')
                            h2.headline Kaderübersicht
                            p.description Hier bekommen Sie Ihren Kader angezeigt.
                            p.description Sind aktuelle Spieler nicht mit im Kader, so können Sie sie einfach und bequem anlegen. Die angelegten Spieler müssen sich danach an der TeamDrive App nicht mehr registrieren. <br> Die Anmeldedaten bekommen die Spieler per Mail zugeschickt.
                    div(style='height:3px')

                    div(style='height:15px;')
                    .dashboard
                        a(href='/home/'+person._id+'/events')
                            img(src='/img/arrow.png')
                            h2.headline Events anlegen
                            p.description Hier bekommen Sie eine Übersicht über Ihre aktuellen Events.
                            p.description Sind aktuelle Events nicht vorhanden, so können Sie sie einfach und bequem anlegen.
                    div(style='height:3px')
                                
                                   
