doctype html
html
    head
        meta(charset='UTF-8')
        title= "TeamDrive - Event anlegen"
        link(rel='icon', href='/img/ico.ico')
        link(rel='stylesheet', href='/css/admin.css', type='text/css')
        script(src='/script/jade.js')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')

    body
        #header_content
            .logo
                a(href='/home/'+person._id)
                    img(width='50', height='50', src='/img/LOGO1.png', alt='Logo')
            .lname
                h2 TeamDrive
            .links
                a.logout(href='/') Abmelden 
                a.user= person.per_vorname+" "+person.per_name
    
            #heading
                h2= person.per_mannschaft
                h1 Event anlegen
                
                .box_content
                    fieldset
                        form#new_event(method="post")
                            input#mannschaft-tf(type='hidden', name='mannschaft', value=person.per_mannschaft, readonly)
                            #eventname-cg
                                label(for='eventname-tf') Eventname
                                input#eventname-tf(type='text', name='eventname')
                            #gegner-cg
                                label(for='gegner-tf') Gegner
                                input#gegner-tf(type='text', name='gegner')
                            #street-cg
                                label(for='street-tf') Straße
                                input#street-tf(type='text', name='street')
                            #city-cg
                                label(for='city-tf') Stadt
                                input#city-tf(type='text', name='city')
                            #date-cg
                                label(for='date-tf') Datum
                                input#date-tf(type='date', name='date')
                            #time-cg
                                label(for='time-tf') Uhrzeit
                                input#time-tf(type='time', name='time')
                            #treff-cg
                                label(for='treff-tf') Treffpunkt
                                input#treff-tf(type='time', name='treff')
                            hr
                            input.half_bButton(type='submit', value='Event anlegen')
                            input.half_rButton(type='reset', value='Löschen')